/*font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*Header*/

body>header{
    font-family: 'Inconsolata', monospace;
    font-size: 24px ;
    text-transform: uppercase;
    color: #333333;
    margin: 25px 25px;
    
}

/*Main*/
main{
    
}
.section-container{
    display: flex;
    flex-direction: row;
   
    align-content: center;
    justify-content: center;
    
  
}
.img-container{

    margin-top: 15%;
    margin-left: 10%;
    
   
}
.img-container>img{
    max-height: 500px;
    max-width: 500px;
   }
.text-container{
    margin: auto;
    padding: 250px;

}
.title-container{
 font-family:'Space Mono', monospace ;
 font-size: 64px;
 line-height: 95px;
 letter-spacing: -0.035rem;
 color: #333333;
 padding: 25px;

}
.pa-container{
   font-family: 'Space Mono', monospace;
   font-weight: 400 ;
   font-size: 24px;
   color:#4F4f4f;
   padding: 25px;



}
.button-container{
    margin: 15px 0px;
    padding: 25px;
   
}
.button{
    font-family: 'Space Mono', monospace;
    font-size: 14px;
   padding: 25px 50px;
   background-color: #333333;
   border-radius: 0%;
   color: white;
   text-transform: uppercase;
  
}

/*Footer*/
footer{
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #BDBDBD;
}
footer p>span{
    font-weight: bold;
    text-decoration: underline;
}

/*Media Query*/

@media (max-width:1500px){
.section-container{
    flex-wrap: wrap;
}
.title-container{
    font-size: 32px;
    line-height: 45px;
}
.pa-container{
    font-size: 12px;
}
.img-container>img{
    max-height: 250px;
    max-width: 250px;
   }

    
}