/*font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*Header*/

body>header{
    font-family: 'Inconsolata', monospace;
    font-size: 24px ;
    text-transform: uppercase;
    color: #333333;
    margin: 25px 25px;
}

/*Main*/
main{
    margin: auto;
    border: 1px solid red;
    width: 100%;
    height: 100vh;
   
}
.section-container{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-content: center;
    justify-content: center;
  
}
.img-container{
   
}
.img-container>img{
    max-height: 500px;
    max-width: 500px;
   }
.text-container{
    margin: auto;
}
.title-container{
 

}
.pa-container{
   

}
.button-container{
    margin: 15px 0px;
   
}
.button{
    font-family: 'Space Mono', monospace;
   padding: 15px;
   background-color: #333333;
   border-radius: 0%;
   color: white;
  
}

/*Footer*/
footer{
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #BDBDBD;
}
footer p>span{
    font-weight: bold;
    text-decoration: underline;
}

/*Media Query*/

